/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#fff;}
a,a:hover{color:#333;}
.fl{
    float:left;
}
.fr{
    float:right;
}
.clear{
    clear:both;
}
*{
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-appearance: none;
}
img{
    -webkit-touch-callout: none;
    /*-webkit-user-select: none;*/
}
.flex_center{
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    -ms-align-items: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.borderBox{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body{
    position: relative;
    width:100%;
    height:100%;
    background:url(../img/bg.png) 0 0 repeat;
    overflow: hidden;
}
.roomList{
    position: relative;
    margin:0 auto;
    width:1200px;
    text-align: center;
}
.showList{
    position: relative;
    width:100%;
    max-height:500px;
    overflow-y:auto;
    margin-top:50px;
}
.showList ul li{
    position: relative;
    width:100%;
    height:50px;
    line-height:50px;
    box-sizing:border-box;
    background:#fff;
    border:1px solid #3c3c3c;
    border-radius: 15px;
    margin-bottom: 15px;
    font-size:20px;
    color:#02baf2;
    cursor:pointer;
}
.button{
    position: relative;
    display:inline-block;
    width:120px;
    height:30px;
    line-height:30px;
    text-align:center;
    color:#fff;
    border-radius:20px;
    background:#02baf2;
    cursor:pointer;
}
#getRoomListInfoButton,#createRoom{
    margin-right:50px;
    margin-top:50px;
}

*{
    margin:0;
    padding:0;
}
#canvas{
    position: relative;
    background:#000;
    /*margin-top:50px;*/
    /*margin-left:50px;*/
    margin:0 auto;
    display:block;
}
.buttonGroup{
    position: absolute;
    bottom: 12px;
    left:0;
    width:100%;
    text-align: center;
}
.buttonGroup div{
    margin-right:20px;
}
.colorPanel{
    position:fixed;
    left:0;
    top:50px;
    width:42px;
    min-height:246px;
    background:#eaeef5;
    box-sizing:border-box;
    padding:0 2px;
    padding-bottom: 5px;

}
.fontPanel{
    position: relative;
    width:25px;
    box-sizing:border-box;
    text-align: center;
    margin-top:5px;
    padding-bottom:5px;
    border-bottom: 1px solid #9d9fa0;
    margin-left:6px;
}
.fontPanel ul li{
    position: relative;
    display:inline-block;
    width:25px;
    height:25px;
    box-sizing:border-box;
    display:flex;
    align-items: center;
    border-radius: 3px;
}
.fontPanel ul li:hover{
    border:1px solid #9d9fa0;
    background:#dee1e8;
}
.fontPanel ul li.active{
    border:1px solid #9d9fa0;
    background:#dee1e8;
}
.fontPanel ul li i{
    position: relative;
    display:inline-block;
    vertical-align: middle;
    background: #2f8ddd;
    border-radius:50%;
    margin:0 auto;
}
.colorContainer{
    position:relative;
    width:100%;
    margin-top:5px;
}
.colorCurrent{
    position: relative;
    width:35px;
    height:35px;
    box-sizing: border-box;
    padding:1px;
    background: #eaeef5;
    border:1px solid #9d9fa0;
    margin-left:1px;
}
.colorCurrent i{
    position: relative;
    width:100%;
    height:100%;
    display:block;
}
.colorContainer ul{
    position: relative;
    margin-top:5px;
    width:36px;
}
.colorContainer ul li{
    position:relative;
    width:18px;
    height:18px;
    display:inline-block;
    box-sizing:border-box;
    text-align: center;
    padding:2px;
    background: #eaeef5;
    border:1px solid #eaeef5;
}
.colorContainer ul li:hover{
    border:1px solid #9d9fa0;
}
.colorContainer ul li:hover i{
    border:0;
}
.colorContainer ul li i{
    position: relative;
    display:inline-block;
    margin:0 auto;
    width:100%;
    height:100%;
    border:1px solid #9d9fa0;
    text-align: center;
}